body {
  font-family: "Pretendard Variable", sans-serif;
  line-height: 1.15;
  background-color: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
}

a {
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
