/* 미디어 쿼리 */
@import "./../common/reset.css";
@layer base {
  ul,
  ol {
    margin: 0;
  }
}

p {
  display: block;
  background-color: yellow;
}

.container {
  background: yellow;
  min-height: 100vh;
}

.header {
  background: #34495e;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em;

  .brand {
    background-color: purple;
    margin-right: auto;
  }

  .navigation,
  menu,
  .menu li {
    background-color: teal;
    display: contents;
  }
}

.main {
  background: #3498db;
}

.secondary {
  background: #2ecc71;
}

.extra {
  background: #e74c3c;
}

.footer {
  background: #95a5a6;
}

/* 모바일 */
@media (max-width: 640px) {
  .header {
    height: 15vh;
  }
  .main {
    height: 40vh;
  }
  .secondary {
    height: 20vh;
  }
  .extra {
    height: 10vh;
  }
  .footer {
    height: 15vh;
  }
}

/* 테블릿 */
@media (width >= 640px) and (width <=1024px) {
  .header {
    height: 20vh;
  }
}

/* 데스크탑 디바이스 */
@media (width >=1024px) {
  .header {
    height: 15vh;
  }
  .content {
    height: 70vh;
    display: flex;

    .main {
      width: 60%;
    }

    .secondary {
      width: 20%;
    }

    .extra {
      width: 20%;
    }
  }
  .header {
    height: 15vh;
  }
}
